html {
    height: 100%;
    box-sizing: border-box;
  }

body {
    background: #cbf3f0;
    font-family: 'Noto Sans HK', sans-serif;
    color: #073b4c;
    font-size: 1.2em;
    position: relative;
    min-height: 100%;
    margin: 0;
}

header {
    height: 40px;
    background: #073b4c;
}

header a {
    text-decoration: none;
    color: #fdfffc;
}

header i {
    color: #06d6a0;
    margin: 8px 8px 0 10px;
}

header span {
    font-size: .9em;
}

.container {
    width: 90%;
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
}

.search {
    position: relative;
}

#country-search {
    margin-top: 12px;
    border-style: none;
    padding: 4px 10px;
    font-size: 1em;
    border-radius: 14px;
    height: 30px;
}

.fa-search {
    position: absolute;
    top: 21px;
    right: 9px;
}

.cards-container {
    width: 100%;
    margin-top: 8px;
}

.card {
    background: #fdfffc;
    margin: 8px 0;
    padding: 0;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, .2);
}

.card .fa-globe-africa {
    /* display: inline-block; */
    color: #118ab2;
    font-size: 2em;
    margin: 0 5px 5px 0;
    vertical-align: top;
}

.card .text {
    padding: 8px;
}

.card h3 {
    margin: 0;
    display: inline-block;
}
.card p {
    margin: 6px 0;
}

.card span {
    font-weight: 700;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.global {
    padding: 10px;
}

.country-select {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    transition: .1s;
}

.country-select:active {
    box-shadow: none;
    transform: translateY(3px);
}

.country-select img {
    width: 22%;
    margin: 0;
    height: 100%;
    object-fit: cover;
}
.country-select h3 {
    width: 78%;
    margin: 0;
    padding: 0 10px;
    font-size: .95em;
}



.country-data .top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.country-data img{
    width: 33%;
    height: 116px;
    border-radius: 8px;
}

.country-data .top-text {
    font-size: 0.8em;
    width: 65%;
}

.country-data .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.country-data .text p {
    margin: 0;
    text-align: center;
}

.country-data .text .more-margin-p {
    margin-bottom: 14px;
}

.country-data .text span {
    font-size: 1.6em;
}

.fa-caret-up {
    color: #ef476f;
    font-size: 1.4em;
}

.fa-caret-down {
    color: #06d6a0;
    font-size: 1.4em;
}

.fa-question-circle {
    vertical-align: text-top;
    font-size: em;
    cursor: pointer;
}

.country-data .up {
    color: #ef476f;
    /* font-size: 1.4em; */
    font-weight: 700;
}

.country-data .down {
    color: #06d6a0;
    /* font-size: 1.4em; */
    font-weight: 700;
}

.hidden {
    display: none !important;
}



footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: #073b4c;
    color: #fdfffc;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer span {
    font-size: 0.8em;
}

footer i {
    color: #fdfffc;
    font-size: 1.2em;
}

.info {
    z-index: 100;
    /* min-height: 90vh; */
    max-width: 400px;
    background: #fdfffc;
    border-radius: 12px;
    position: absolute;
    left: 0;
    top: 0;
    margin: 2vh 3vw;
    width: 86vw;
    padding: 15px;
    font-size: .7em;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, .2);
}

.info .fa-times {
     float: right;
     cursor: pointer;
     font-size: 1.3em;
}

.info i {
    font-size: 1.3em;
    margin-right: 3px;
}

.info h3 {
    margin-top: 26px;
    font-size: 1.4em;
}

.info h4 {
    margin-bottom: 3px;
    font-size: 1.1em;
}

.info p {
    margin: 0;
    text-align: justify;
}

.info .little-margin {
    margin-top: 8px;
}

.info .green {
    color: #06d6a0;
    font-weight: 700;
}

.info .red {
    color: #ef476f;
    font-weight: 700;
}

 .info button {
     margin-top: 20px;
     border-style: none;
     float: right;
     background: #073b4c;
     color: #fdfffc;
     padding: 10px 24px;
     border-radius: 8px;
     font-size: .9em;
     cursor: pointer;
 }